.skills-card{

width:320px;

height:260px;

padding:20px;

border-radius:18px;

background:#111;

border:1px solid #ff1e3c;

overflow:hidden;

box-sizing:border-box;

}



.skills-card h2{

color:white;

margin-bottom:15px;

}



.skills-container{


height:170px;

overflow-y:auto;

display:flex;

flex-direction:column;

gap:5px;


}



.skill-text{


color:#ddd;

font-size:17px;

margin:0;


}




.skills-container::-webkit-scrollbar{

width:5px;

}


.skills-container::-webkit-scrollbar-thumb{

background:#555;

border-radius:10px;

}